In [1]:
import pandas
import numpy
import torch

In [5]:
a = pandas.read_excel(r'C:\Users\ASUS\Desktop\各科\竞教结合\题目\题目A\a.xlsx')

In [6]:
a

   1367458_at  7.295  7.534  7.301  7.206  7.475
0  1367462_at  9.812  9.735  9.882  9.731  9.679
1  1367467_at  9.331  9.196  9.157  9.269  9.136
2  1367468_at  8.607  8.995  8.454  8.149  8.739
3  1367474_at  9.346  9.039  9.145  9.402  8.893
4  1367478_at  7.883  7.623  7.862  7.893  7.703
5  1367484_at  9.461  9.519  9.401  9.680  9.434
6  1367491_at  8.810  8.934  8.845  8.935  8.918
7  1367494_at  9.411  9.551  9.413  9.524  9.386
8  1367495_at  7.513  7.651  7.394  7.756  7.634

In [13]:
b = a.iloc[:,0]
a = a.drop(columns=0)

KeyError: '[0] not found in axis'

In [11]:
a,b

(   1367458_at  7.295  7.534  7.301  7.206  7.475
 1  1367467_at  9.331  9.196  9.157  9.269  9.136
 2  1367468_at  8.607  8.995  8.454  8.149  8.739
 3  1367474_at  9.346  9.039  9.145  9.402  8.893
 4  1367478_at  7.883  7.623  7.862  7.893  7.703
 5  1367484_at  9.461  9.519  9.401  9.680  9.434
 6  1367491_at  8.810  8.934  8.845  8.935  8.918
 7  1367494_at  9.411  9.551  9.413  9.524  9.386
 8  1367495_at  7.513  7.651  7.394  7.756  7.634,
 0    1367462_at
 1    1367467_at
 2    1367468_at
 3    1367474_at
 4    1367478_at
 5    1367484_at
 6    1367491_at
 7    1367494_at
 8    1367495_at
 Name: 1367458_at, dtype: object)